extends layout

block content
	.main
		h1 What is MHacks? 

		p MHacks Impact is Michigan Hackers' second hackathon and aims to be the biggest student run hackathon ever held at the University of Michigan. 
		p The theme of this hackathon is “impact”. As such, we want each and every team to build something that has an impact on real people. 
		p MHacks Impact is scheduled for November 2nd - 3rd, and will be held in the BBB. The event will be 24 hours long with <a href="/schedule">20 hours devoted to hacking.</a> 
	.secondary
		h2 Who are the Michigan Hackers?
		
		p Michigan Hackers is a technical student organization, primarily aimed at EECS majors in the College of Engineering. 
		
		p Our mission is to foster a community of individuals at the University who solve problems through the innovative use of technology.  We're working to bring the "hacker" culture to Michigan. 		
		p More simply put, we build "stuff." 
		
