extends layout

block content
	.main
		.ready ready to 
		.code=verb+'?'
	
	.secondary
		p Hack Michigan is Michigan Hackers' second hackathon and aims to be the biggest student run hackathon ever held at the University of Michigan with more then $5,000 in prizes. 
		p The theme of this hackathon is “impact”. As such, we want each and every team to build something that has an impact on real people.
		p Hack Michigan is scheduled for November 2rd - 3th, and will be held in BBB on North Campus. The event will be 28 hours long with <a href="/schedule">24 hours devoted to hacking.</a>

	.secondary
		.join Join Us

		.date 24 Hours of Hack 
		.date November 2rd - November 3h 
		.date 1670 CSE

