extends layout

block content
	.main
		.ready ready to 
		.code=verb+'?'

		p.info=info

		h2 Featuring tech talks from:
		.sponsors
			img.sponsor(src="/images/google.png")
			img.sponsor(src="/images/google.png")
			img.sponsor(src="/images/google.png")


		.join Join Us

		.date 24 Hours of Hack 
		.date November 3rd - November 4th 
		.date 1670 CSE

		
		
		h1 sponsors
		.sponsors
			img.sponsor(src="/images/google.png")
			img.sponsor(src="/images/google.png")
			img.sponsor(src="/images/google.png")
			img.sponsor(src="/images/google.png")
			img.sponsor(src="/images/google.png")