extends layout

block content
	.main
		.ready ready to 
		.code=verb+'?'
	
	.secondary
		p Hack Michigan is Michigan Hackers' second hackathon and aims to be the biggest student run hackathon ever held at the University of Michigan. 
		p The theme of this hackathon is “impact”. As such, we want each and every team to build something that has an impact on real people. 
		p Hack Michigan is scheduled for November 3rd - 4th, and will be held in North Quad. The event will be 28 hours long with <a href="/schedule">24 hours devoted to hacking.</a>

	.secondary
		.join Join Us

		.date 24 Hours of Hack 
		.date November 3rd - November 4th 
		.date 1670 CSE

