doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="/javascripts/jquery.min.js")
	body
		.container
			.nav
				.nav-title
					.pres Michigan Hackers Present:
					a(href="/")=title
				.nav-sub 
					a.link(href="/prizes") prizes
					a.link(href="/schedule") schedule
					a.link(href="/sponsors") sponsors
					a.link(href="/contact") contact

			block content
