extends layout

block content
	.main
		h1 Schedule
		p Unfortunately our developers don't believe in NTP; Due to clock differences and such, the actual schedule may differ slightly.  Either way, we have 24 hours of solid hack lined up for you guys. 
		
		h2 Saturday
		
		table.schedule
			tbody
				tr
					td 00.
					td 12:00pm
					td Open up with lunch, socialization, team-forming, etc.
				tr
					td 01.
					td 1:30pm
					td Hacking Starts.
				tr
					td 02.
					td 6:30pm
					td Dinner 
				tr
					td 03.
					td 11:00pm
					td Midnight snacks (available all night)

		h2 Sunday
		
		table.schedule
			tbody
				tr
					td 00.
					td 7:00am
					td Continental breakfast, what what!!1!
				tr
					td 01.
					td 12:00pm
					td Lunch.
				tr
					td 01.
					td 1:30pm
					td Hacking Ends, presentations start.
				tr
					td 02.
					td 3:00pm
					td Presentations end. 
				tr
					td 03.
					td 3:30pm
					td Awards! 
