@font-face {
  font-family: Ultramag;
  src: url('Ultramagnetic.ttf'), url('Ultramagnetic.eot');/* IE9 need .eot file!? */
}
h1,
h2,
h3 {
  color: #ff3e00;
  text-transform: uppercase;
  font-weight: lighter;
}
body {
  font: 18px "Ultramag", Helvetica, Arial, sans-serif;
}
a {
  color: #ff3e00;
  text-decoration: none;
}
.container {
  margin: 0 auto;
  width: 900px;
}
.nav {
  text-transform: uppercase;
  color: #ff3e00;
  height: 90px;
  padding: 20px 5px;
}
.pres {
  font-size: 18px;
}
.nav-title {
  float: left;
  font-size: 48px;
}
.nav-sub {
  float: right;
  padding-top: 55px;
  font-size: 24px;
}
.link {
  padding: 10px;
  display: inline;
}
.link:hover {
  background-color: #ff3e00;
  color: white;
  border-radius: 5px;
}
.main {
  padding: 10px 0px;
}
.ready {
  text-transform: uppercase;
  font-size: 72px;
  display: inline;
}
.code {
  text-transform: uppercase;
  font-size: 72px;
  display: inline;
  color: white;
  background-color: #ff3e00;
  padding: 0 20px;
  border-radius: 5px;
}
.info {
  margin: 40px 0px;
}
.join {
  text-transform: uppercase;
  font-size: 72px;
  display: inline;
  color: white;
  background-color: #ff3e00;
  padding: 0 20px;
  border-radius: 5px;
  float: left;
  cursor: pointer;
  border: 3px solid #ff3e00;
}
.join:hover {
  background-color: white;
  border: 3px solid #ff3e00;
  color: #ff3e00;
}
.sponsor {
  display: inline;
  padding: 20px;
}
.sponsors {
  text-align: center;
  padding-bottom: 20px;
}
.date {
  text-align: right;
  font-size: 30px;
}
.schedule {
  margin-left: 10px;
  font-size: 22px;
}
td {
  padding: 3px 10px;
}
td:first-child {
  font-weight: bold;
  padding-right: 20px;
}
/* MIXINS */
.rounded {
  border-radius: 5px;
}
.upper {
  text-transform: uppercase;
}
p {
  font-size: 22px;
  line-height: 34px;
}
.secondary {
  margin-top: 40px;
}
